@import "tailwindcss";
.nav-link {
    @apply relative font-medium text-black transition duration-300 hover:text-emerald-400;
}

.nav-link::after {
    content: "";
    @apply absolute left-1/2 -translate-x-1/2 bottom-[-8px]
           w-0 h-[2px] bg-emerald-400 transition-all duration-300;
}

.nav-link:hover::after {
    @apply w-full;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-title {
    opacity: 0;
    animation: fadeUp 0.9s ease forwards;
}

.hero-desc {
    opacity: 0;
    animation: fadeUp 0.9s ease forwards;
    animation-delay: 0.3s;
}

.hero-btn {
    opacity: 0;
    animation: fadeUp 0.9s ease forwards;
    animation-delay: 0.6s;
}
@keyframes zoomHero {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.hero-bg {
    animation: zoomHero 2s ease;
}
